<h1>Update Profile</h1>
<label>UserId</label>
<input ng-model="profile.userid" class="form-control">

<label>Name</label>
<input ng-model="profile.name" class="form-control">


<label>Date Of Birth</label>
<input ng-model="profile.dob" class="form-control">


<label>Gender</label>
<input ng-model="profile.gender" class="form-control">


<label>Address</label>
<input ng-model="profile.address" class="form-control">


<label>Email</label>
<input ng-model="profile.email" class="form-control">


<label>Phone</label>
<input ng-model="profile.phone" class="form-control">


<label>Education</label>
<textarea ng-model="profile.edu" class="form-control"></textarea>


<label>Experience</label>
<textarea ng-model="profile.experience" class="form-control"></textarea>

<label>Skills</label>
<input ng-model="profile.skills" class="form-control">

<label>Password</label>
<input ng-model="profile.password" class="form-control">


<button ng-click="model.updateProfile(profile)" class="btn btn-primary btn-block">Update</button>

