<h1> PROFILE </h1>

<label>Name </label>
<input ng-model="topic.name" class="form-control">

<br>

<label>Date Of Birth </label>
<input type="date" class="form-control" id="validationDefault03"></input>

<br>

<label>Gender </label>
<input ng-model="topic.name" class="form-control">
<br>


<label>Home Address </label>
<input ng-model="topic.name" class="form-control">
<br>

<label>Email </label>
<input ng-model="topic.name" class="form-control">
<br>

<label>Phone Number </label>
<input ng-model="topic.name" class="form-control">
<br>

<label>Education </label>
<input ng-model="topic.name" class="form-control">
<br>

<label>Experience </label>
<textarea ng-model="topic.description" class="form-control"></textarea>
<br>

<label>Skills and Specialization </label>
<textarea ng-model="topic.description" class="form-control"></textarea>

<br>

<button ng-click="model.addTopic(topic)" class="btn btn-primary btn-block">Create</button>
<button ng-click="updateTodo(todo)" class="btn btn-success btn-block">Refresh</button>

