<!--login.html-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="col-md-4 col-md-offset-3">
    <h4 style="text-align:center;color:blue">Login</h4>
    <form name="form" ng-submit="model.login(model.user)" role="form">
        <div class="form-group" style="text-align:center;color:blue" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label>Username</label>
            <input type="text" name="email" id="email" class="form-control" ng-model="model.user.email" required />

        </div>
        <div class="form-group" style="text-align:center;color:blue" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="model.user.password" required />

        </div>
        <div class="form-actions" layout="row">
            <button type="submit" ng-disabled="form.$invalid || model.dataLoading" class="btn btn-primary">Login</button>

            <span style="float:right">Not a member?<a href="#/register" class="btn btn-link">Register</a></span>
        </div>
    </form>
</div>
